$gray: #ededed;
$primary: #ffec00;
$dark: #6e6e6e;

.CatalogRightSection {
  padding-right: 20px;
  display: flex;
  align-items: center;

  &-Button {
    background-color: $gray;
    font-weight: 600;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    margin-left: 28px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  &-Button:hover {
    background-color: $primary;
  }

  &-Button:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    left: -28px;
  }

  &-Button_type_heart:after {
    background-image: url("./CatalogRightSection-heart.png");
  }

  &-Button_type_files:after {
    background-image: url("./CatalogRightSection-files.png");
  }

  &-Button_type_basket:after {
    background-image: url("./CatalogRightSection-basket.png");
  }

  &-Text {
    line-height: 22px;
  }

  &-Text_bold {
    font-weight: 600;
  }

  // dark theme
  &-Button_theme_dark {
    background-color: $dark;
    color: black;
  }

  &-Button_theme_dark {
    &.CatalogRightSection-Button_type_heart:after {
      background-image: url("./CatalogRightSection-heart_theme_dark.png");
    }

    &.CatalogRightSection-Button_type_files:after {
      background-image: url("./CatalogRightSection-files_theme_dark.png");
    }

    &.CatalogRightSection-Button_type_basket:after {
      background-image: url("./CatalogRightSection-basket_theme_dark.png");
    }
  }

  &-Text_theme_dark {
    color: #cccccc;

    &.CatalogRightSection-Text_bold {
      color: $primary;
    }
  }
}
